#container{
border: 1px solid black;
height: auto;
width: 700px;
position: relative;
margin: 0px auto;

}

#Intro {
font-family: KidFromHell, Arial, Helvetica, Times New Roman;
border: 1px solid black;
color: blue;
width: 100%;
height: auto;
background-color: orange;
text-align: center;
margin: 20px;
margin-top: 20px;
margin-bottom: 20px;
margin-left: 20px;
margin-right: 20px;
padding: 30px 20px 20px 10px;
}

#Motivation {
border: 1px solid black;
color: blue;
width: 100%;
height: auto;
background-color: yellow;
}

#Overview {
font-family: Times New Roman;
border: 1px solid black;
color: blue;
width: 100%;
height: auto;
background-color: red;
}
